name: Rewrite Feeds and Deploy

on:
  schedule:
    - cron: '0 7 * * *'  # Schedule to run daily at 07:00 UTC
  workflow_dispatch:  # Allow manual triggering

jobs:
  rewrite-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Check out UglyFeed repository
      uses: actions/checkout@v3
      with:
        repository: fabriziosalmi/UglyFeed
        path: UglyFeed

    - name: Check out uglyfeed-cdn repository
      uses: actions/checkout@v3
      with:
        repository: fabriziosalmi/uglyfeed-cdn
        path: uglyfeed-cdn

    - name: Set up Docker
      run: docker pull fabriziosalmi/uglyfeed

    - name: Override config.yaml with secrets
      run: |
        cp UglyFeed/config.yaml UglyFeed/config.yaml.bak
        yq eval '.api_config.selected_api = strenv(SELECTED_API)' -i UglyFeed/config.yaml
        yq eval '.api_config.groq_api_url = strenv(GROQ_API_URL)' -i UglyFeed/config.yaml
        yq eval '.api_config.groq_api_key = strenv(GROQ_API_KEY)' -i UglyFeed/config.yaml
        yq eval '.api_config.groq_model = strenv(GROQ_MODEL)' -i UglyFeed/config.yaml
        yq eval '.folders.output_folder = strenv(OUTPUT_FOLDER)' -i UglyFeed/config.yaml
        yq eval '.folders.rewritten_folder = strenv(REWRITTEN_FOLDER)' -i UglyFeed/config.yaml
        yq eval '.github_token = strenv(GENERATOR_TOKEN)' -i UglyFeed/config.yaml
        yq eval '.github_repo = strenv(CDN_REPO)' -i UglyFeed/config.yaml
        yq eval '.enable_github = true' -i UglyFeed/config.yaml
      env:
        GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
        SELECTED_API: "Groq"
        GROQ_API_URL: ${{ vars.GROQ_API_URL }}
        GROQ_MODEL: "llama3-8b-8192"
        OUTPUT_FOLDER: ${{ github.workspace }}/UglyFeed/output
        REWRITTEN_FOLDER: ${{ github.workspace }}/UglyFeed/rewritten
        GENERATOR_TOKEN: ${{ secrets.GENERATOR_TOKEN }}
        CDN_REPO: ${{ vars.CDN_REPO }}

    - name: Run UglyFeed Docker Container and Execute Scripts
      run: |
        docker run --rm \
          -v ${{ github.workspace }}/UglyFeed:/app/UglyFeed \
          -v ${{ github.workspace }}/uglyfeed-cdn:/app/uglyfeed-cdn \
          -e CONFIG_FILE=/app/UglyFeed/config.yaml \
          -e FEEDS_FILE=/app/UglyFeed/input/feeds.txt \
          fabriziosalmi/uglyfeed \
          /bin/bash -c "
            cd /app/UglyFeed &&
            python main.py &&
            python llm_processor.py --api Groq --model llama3-8b-8192 --api_url "https://api.groq.com/openai/v1/chat/completions" --api_key $GROQ_API_KEY --rewritten_folder rewritten &&
            python json2rss.py
          "

    - name: Prepare for deployment
      run: |
        echo "Creating temp_deploy directory..."
        mkdir -p ${{ github.workspace }}/UglyFeed/temp_deploy
        echo "Copying final XML to temp_deploy directory..."
        cp ${{ github.workspace }}/UglyFeed/uglyfeeds/uglyfeed.xml ${{ github.workspace }}/UglyFeed/temp_deploy/

    - name: Copy to feeds directory in uglyfeed-cdn repo
      run: |
        echo "Copying the final XML to the feeds directory..."
        mkdir -p ${{ github.workspace }}/uglyfeed-cdn/feeds
        cp ${{ github.workspace }}/UglyFeed/temp_deploy/uglyfeed.xml ${{ github.workspace }}/uglyfeed-cdn/feeds/

    - name: Commit and push to uglyfeed-cdn
      run: |
        cd ${{ github.workspace }}/uglyfeed-cdn
        git config --local user.name "fabriziosalmi"
        git config --local user.email "fabrizio.salmi@gmail.com"
        git add feeds/uglyfeed.xml
        git commit -m "Deploy rewritten RSS feed - $(date +'%Y-%m-%d %H:%M:%S') [Model: ${{ vars.GROQ_MODEL }}, API: ${{ vars.SELECTED_API }}]"
        git push https://x-access-token:${{ secrets.GENERATOR_TOKEN }}@github.com/${{ vars.CDN_REPO }} HEAD:main
